<section class="category-page">
  <div class="container">
    <div class="categories">

      {% for block in section.blocks %}
      {% assign collection = block.settings.collector %}
        <div class="category">
         <a href="{{ collection.url }}">
            <img src="{{ collection.featured_image | img_url }}" alt="">
            <h2>{{collection.title}}</h2>
         </a>
        </div>
      {% endfor %}

    </div>
  </div>
</section>
{% schema %}
{
"name": "Categories page section",
"class": "shopify-section--bordered",
"blocks":[
{
"type": "subcategory",
"name": "Subcategory",
"settings":[
  {
    "type": "collection",
    "id": "collector",
    "label": "Collection",
    "info": "Choose collection for subcategory"
  }
]
}
]
}
{% endschema %}