<section class="story-one" id={{section.id}}>
	<div class="content">

	</div>
</section>



{% schema %}
[{
"name": "Story block",
"settings": [


{
"type": "image_picker",
"id": "main_img",
"label": "Image"
},
{
"type": "text",
"id": "btn_text",
"label": "Button text",
"default": "DISCOVER SEASONAL GIFTS"
},
{
"type": "url",
"id": "btn_link",
"label": "Button link"
},
{
"type": "text",
"id": "heading",
"label": "Heading text",
"default": "Highlands Edit"
},
{
"type": "textarea",
"id": "textarea",
"label": "Description text",
"default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat"
},
{
"type": "image_picker",
"id": "img_1",
"label": "Circle 1 image"
},
{
"type": "image_picker",
"id": "img_2",
"label": "Circle 2 image"
},
{
"type": "image_picker",
"id": "img_3",
"label": "Circle 3 image"
}

]
}]
{% endschema %}