@font-face {
  font-family: "MaisonNeueWEB-Demi";
  src: url("MaisonNeueWEB-Demi.woff") format("woff");
}

@font-face {
  font-family: "MaisonNeueWEB-Book";
  src: url("MaisonNeueWEB-Book.woff") format("woff");
}

@font-face {
  font-family: "NewCenturySchlbkLTStd_Roman";
  src: url("NewCenturySchlbkLTStd-Roman.otf") format("woff");
}

@font-face {
  font-family: "NewCenturySchlbkLTStd_It";
  src: url("NewCenturySchlbkLTStd-It.otf") format("woff");
}

@font-face {
  font-family: "NewCenturySchlbkLTStd_Bd";
  src: url("NewCenturySchlbkLTStd-Bd.otf") format("woff");
}

.Heading,
body {
  font-family: 'MaisonNeueWEB-Demi';
}


/*=============================================
=            Section image-with-overlay            =
=============================================*/


#shopify-section-1610358551e588984e,
#shopify-section-1610455590bcf9ad0b {
  padding-bottom: 80px;

  background-color: #fbf9f6;

  .FlexboxIeFix {
    margin-top: 150px;
    flex-direction: column;
  }

  .ImageHero__ContentOverlay .SectionHeader {
    text-align: center;
  }

  .ImageHero__ContentOverlay {
    flex-basis: 0;
    margin-top: 40px;
    text-shadow: none;

  }

  .u-h1 {
    line-height: 1.5;
    letter-spacing: 1.5px;
    font-size: 12px;
  }

  .ImageHero--large {
    width: 69%;
    margin: 0 auto;
  }

  .banner-link {
    font-size: 45px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 7.5px;
    text-align: center;
    color: #fbf9f6;
    text-transform: uppercase;
    margin-bottom: 45px;
    display: inline-block;
  }

  .SectionHeader__SubHeading {
    text-shadow: 0px 0px 1px black;
    line-height: 1.5;
    letter-spacing: 1.5px;
  }








}

#shopify-section-1610455590bcf9ad0b {
  .ImageHero--large {
    min-height: 220px;
    width: 90%;
  }

  .FlexboxIeFix {
    margin-top: 100px;
  }
}



/*=====  End of Section image-with-overlay  ======*/



/*=============================================
=            Section collection list            =
=============================================*/

#shopify-section-1610723905e6a6cfee {
  background-color: #f9f3ee;
  padding: 50px 0;

  h2.collection-heading {
    font-size: 45px;
    margin-left: 20px;
    font-family: MaisonNeueWEB-Book;
  }

  .CollectionList {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */

    &::-webkit-scrollbar {
      display: none;
      /* Safari and Chrome */
    }
  }

  @media screen and (min-width: 1140px) {
    .CollectionItem {
      min-width: 25%;
    }
  }

  .CollectionList--spaced .CollectionItem {
    padding: 7px;
  }

  .CollectionItem__Content {
    position: static;
  }

  .SectionHeader__Heading {
    padding-top: 20px;
    text-align: center;
  }

  @media screen and (max-width: 800px) {
    .CollectionItem {
      min-width: 80%;
    }

    h2.collection-heading {
      text-align: center;
    }
  }











}

/*=====  End of Section collection list  ======*/




/*=============================================
=            feaured collection            =
=============================================*/

.collection-list-custom {
  padding: 50px 0;

  .ProductItem__Info {
    text-align: left;

  }

  .ProductItem__Title {
    a {
      text-shadow: 0px 0px 1px black;
    }
  }

  .ProductList--carousel .Carousel__Cell {
    padding: 0 10px;
  }
}

/*=====  End of feaured collection  ======*/






/*=============================================
=            Sidebar && header          =
=============================================*/


#shopify-section-header {
  z-index: 100;
}

#sidebar-menu {
  z-index: 101;
}


.supports-sticky .Search[aria-hidden="true"]+.Header--transparent {
  box-shadow: none !important;
}

.Header {
  box-shadow: none;

  &:hover {
    box-shadow: 0 -1px var(--header-border-color) inset
  }
}


.SidebarMenu .Drawer__Content::before,
.SidebarMenu .Drawer__Content::after {
  background-image: none;
}

.SidebarMenu .Drawer__Footer::before {
  background-image: none;
}

.Drawer__Header {
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .Header__LogoImage {
    max-width: 130px !important;
  }
}



.DropdownMenu {
  max-width: unset;
  height: 100vh;
  width: 25vw;
  min-width: 450px;
  top: 0;
  left: -100%;
  transition: left .6s ease;
  background-color: #DADAD2;
  padding-top: 100px;
  padding-left: 25px;
  z-index: 1;

  &.open {
    left: 0;
  }

  .Link {
    text-transform: uppercase;
  }

  li.Linklist__Item {
    margin-bottom: 2px;

    a {
      letter-spacing: 2px;
      transition: text-decoration .5s ease;
      font-size: 12px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  li.Linklist__Item:nth-child(1) {
    margin-bottom: 30px;
  }

  li.Linklist__Item:nth-child(2) {
    margin-bottom: 30px;
  }

  li.Linklist__Item:nth-child(9) {
    margin-bottom: 30px;
  }

  li.Linklist__Item:nth-child(11) {
    margin-bottom: 30px;

  }

  li.Linklist__Item:nth-child(12) {
    a {
      color: #636363;
    }
  }

  li.Linklist__Item:nth-child(13) {
    a {
      color: #636363;
    }
  }


}

.DropdownMenu[aria-hidden=true] {
  opacity: 1;
  visibility: visible;
}

.Header__MainNav.open {
  a {
    position: relative;
    z-index: 3;

    &:hover {
      text-decoration: underline;
    }

    span {
      display: none;
    }
  }
}

.DropdownMenu::before {
  content: none;
}

.social_links {
  position: absolute;
  bottom: 100px;

  .Linklist__Item {
    margin-bottom: 2px !important;
  }
}


.SidebarMenu__Nav {
  .Collapsible__Content {
    .Collapsible {
      margin-bottom: 2px;

      a {
        letter-spacing: 2px;
        transition: text-decoration .5s ease;
        font-size: 12px;
        color: #000;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .Collapsible:nth-child(1) {
      margin-bottom: 20px;
    }

    .Collapsible:nth-child(2) {
      margin-bottom: 20px;
    }

    .Collapsible:nth-child(9) {
      margin-bottom: 20px;
    }

    .Collapsible:nth-child(11) {
      margin-bottom: 20px;

    }

    .Collapsible__Button {
      padding: 0;
    }


    .Collapsible:nth-child(12) a {
      color: #636363;
    }

    .Collapsible:nth-child(13) a {
      color: #636363;

    }






  }





}


.SidebarMenu__Nav .Collapsible .Collapsible__Button:first-child:not(a) {
  border-top: 1px solid #00000040;
}


.SidebarMenu__Nav .Collapsible:first-child {
  border-bottom: none;
}


.social.Collapsible {
  .Collapsible__Button {
    border-top: none !important;
  }

  .Collapsible {
    margin-bottom: 10px !important;
  }
}






/*=====  End of Sidebar && header  ======*/



/*=============================================
=            image with text            =
=============================================*/
.img_custom {
  margin-bottom: 50px;

  .FlexboxIeFix {
    max-width: 45vw;
    margin: 0 auto;
    flex-direction: column;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-transform: uppercase;

  }

  span {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    font-family: MaisonNeueWEB-Book;
    text-transform: uppercase;
  }

  @media screen and (min-width: 1140px) {
    .ImageHero--large {
      min-height: 440px;
    }

    .FlexboxIeFix {

      min-width: 600px;

    }

  }

  @media screen and (max-width: 1140px) {
    .ImageHero--large {
      min-height: 30vh;
    }

    .FlexboxIeFix {

      min-width: 65vw;

    }

  }










}

/*=====  End of image with text  ======*/






/*=============================================
=            Footer            =
=============================================*/

#section-footer {
  padding: 30px 0 42px 0;

  .Linklist__Item {
    line-height: 20px;
    font-size: 12px;
  }

  .Footer__Block--links .Footer__Title,
  .Footer__Block--text .Footer__Title {
    border-top: 1px solid;
    margin: 0;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    position: relative;
    text-align: left;
    letter-spacing: 2px;
    line-height: 20px;
    font-weight: 400;
  }

  .Footer__Block--newsletter .Footer__Title {
    letter-spacing: 2px;
  }


  .Footer__Block .Linklist,
  .Footer__Block .Footer__Social {
    border-bottom: 1px solid;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    transition: all .6s ease;


  }

  .open {

    .HorizontalList,
    .Linklist {
      max-height: 500px;
      padding-bottom: 15px;
      padding-left: 25px;
    }

    &.Footer__Block::after {
      transform: rotate(90deg);
    }
  }

  .Footer__Inner {
    min-width: 60vw;
    margin: 0;

    .Footer__Block:nth-child(3) h2 {
      border-top: 0;
      padding-top: 0;
    }

    .Footer__Block:nth-child(4) h2 {
      border-top: 0;
      padding-top: 0;
    }
  }

  .Container-inner {
    display: flex;
    justify-content: space-between;
  }

  .Footer__Inner {
    .Footer__Block--text {
      flex-basis: 50%;
    }

    .Footer__Block {
      flex: 0 1 50%;
    }

    .Footer__Block {
      position: relative;
      margin-bottom: 10px;
      padding-left: 0px;
      padding-right: 10px;

    }

    .Footer__Block::after {
      content: '';
      position: absolute;
      right: 50px;
      width: 1px;
      height: 20px;
      background: #000;
      top: 15px;
      transition: transform .3s ease;
    }

    .Footer__Block::before {
      content: '';
      position: absolute;
      right: 40px;
      height: 1px;
      width: 20px;
      background: #000;
      top: 25px;

    }

    .Footer__Block:nth-child(3),
    .Footer__Block:nth-child(4) {
      &::before {
        top: 10px;
      }

      &::after {
        top: 0;
      }
    }

    .Footer__Inner .open .Footer__Block::after {
      transform: rotate(90deg);
    }

  }

  .Header__LogoImage {
    margin: unset;
  }

  .Header__LogoLink {
    margin-bottom: 50px;
  }

  .Footer__Block--newsletter {
    flex-basis: 100%;
    margin-top: -58px;
    margin-bottom: 0;

    .Form__Input,
    .Form__Textarea,
    .spr-form-input-text,
    .spr-form-input-email,
    .spr-form-input-textarea {
      border: none;
      border-bottom: 1px solid #000;
      padding: 25px 14px;

    }

    .Form__Submit span {
      font-size: 22px;
      margin-left: 30px;
    }
  }

  .Button--primary::before {
    background-color: #fbf9f6;

  }

  .Button--primary {
    color: #000;
  }

  .Form__Submit {
    transition: all .4s ease;
    background-color: #000;
    text-shadow: 0 0 1px black;


    &:hover {
      color: #fbf9f6;
    }
  }





  @media screen and (max-width: 1200px) {
    .Footer__Block:first-child {
      margin-bottom: 0;
    }

    .Footer__Block:nth-child(2) {
      margin-top: 0 !important;
    }

    .Container-inner {
      flex-wrap: wrap;
    }

    .Footer__Block--newsletter {
      margin-top: 20px;
      margin-bottom: 0;
      padding-left: 0;
    }

    .Footer__Inner {
      min-width: 90vw;

    }
  }

  .Button {
    padding: 12px 10px;
  }



  @media screen and (max-width: 626px) {
    .Footer__Inner {

      .Footer__Block:nth-child(1) ul {
        border-bottom: 0;
      }

      .Footer__Block {
        margin-top: 10px;
      }
    }

  }













}



/*=====  End of Footer  ======*/




/*=============================================
=            Story blocks            =
=============================================*/
.video_wrapper {
  video {
    height: auto;
    max-height: 100%;

    @media screen and (min-width: 1875px) {
      width: 100%;
    }
  }
}

.wrapper-huyaper {
  height: 300px;
}

.story-one,
.story-two,
.story_block_three {
  padding: 100px 0 20px 0;
  position: relative;

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .col-one {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: flex-end;

    .col-content {
      display: flex;
      flex-direction: column;
      min-width: 60%;
    }
  }

  .col-two {
    margin-left: 100px;
    flex-basis: 20%;

    h2 {
      font-size: 45px;
      line-height: 55px;
      letter-spacing: 0.5px;
      font-family: MaisonNeueWEB-Book;
      margin-bottom: 100px;
    }

    p {
      font-family: NewCenturySchlbkLTStd_Roman;
      font-size: 14px;
      line-height: 1.33;
      letter-spacing: 0.17px;

    }
  }

  .Form__Submit {
    max-width: 330px;

    span {
      font-size: 20px;
      margin-left: 40px;
    }
  }

  .Button--primary::before {
    background-color: #f9f3ee;

  }

  .Button--primary {
    color: #000;
    background: #000 !important;
  }

  .Button--primary {
    transition: all .4s ease;
    text-shadow: 0 0 1px black;
    text-align: left;
    padding-left: 15px;
    padding-right: 0;
    margin-top: 40px;



    &:hover {
      color: #fbf9f6 !important;
    }
  }

  .circles {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 50px;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50px;
      margin-right: 15px;
    }
  }

  .mobile-dblock {
    display: none;
  }



  .story-heading {
    position: absolute;
    left: 100px;
    font-style: italic;
    letter-spacing: 0.58px;
    line-height: 16px;
    font-size: 14px;
    width: 70px;
    font-family: NewCenturySchlbkLTStd_It;

    span {
      margin-bottom: 15px;
      font-style: normal;
      text-shadow: 0 0 1px #000;
      display: block;
      font-family: NewCenturySchlbkLTStd_Bd;

    }
  }

  @media (max-width: 1500px) {
    .col-two {

      flex-basis: 25%;

    }
  }

  @media (max-width: 1200px) {
    .story-heading {

      left: 50%;
      width: unset;
      top: 45px;
      transform: translateX(-50%);

      span {
        display: inline;
      }
    }

    .col-one {
      flex-basis: 100%;
      align-items: center;

      .col-content {
        padding: 0 30px;
        min-width: 100%;
      }
    }

    .mobile-dblock {
      display: block;
      padding-right: 10px;
    }

    .col-two {
      display: flex;
      flex-direction: column;
      flex-basis: 90%;
      align-items: center;
      margin-top: 30px;
      margin-left: 0;

      h2 {
        margin-bottom: 30px;
      }

      p {

        text-align: center;

      }
    }

    .col-content a:not(.ProductItem__ImageWrapper, .CollectionItem) {
      display: none;
    }
  }

}

.story-one {
  @media screen and (max-width: 1200px) {
    padding-top: 50px;

  }

  .col-content {
    min-width: 80% !important;
  }

  .wrapper-huyaper {
    height: 400px;
  }


  @media (max-width: 1200px) {
    .story-heading {
      top: 30px;
    }

    .col-one {
      flex-basis: 100%;
      align-items: center;
      margin-top: 80px;

      .col-content {
        padding: 0;
      }
    }

    .wrapper-huyaper {
      height: 200px;
    }


  }
}

.story-two {
  padding: 100px 0 50px 0;
  background-color: #f9f3ee;

  .col-content {
    min-width: 100% !important;
  }

  .wrapper-huyaper {
    height: 500px;
  }

  .story-heading {
    position: static;
    margin-bottom: 70px;
  }

  .col-two {
    h2 {
      margin-bottom: 55px;
    }

    .image {
      margin-top: 75px;

      p {
        font-family: MaisonNeueWEB-Book;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 1.5px;
      }

      h3 {
        text-shadow: 0 0 1px #000;
        margin: 0;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 1.5px;
      }

      img {
        width: 100%;

      }
    }
  }

  @media screen and (max-width:1200px) {
    padding-top: 30px;

    .story-heading {
      transform: translateX(0);
      text-align: center;
    }

    .image {
      display: none;
    }

    .wrapper-huyaper {
      height: 200px;
    }




  }

}






.story_block_three {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 100px 0;
  background-position: center;

  .story-heading {
    color: #ffffff;
    position: static;
  }

  .Heading:not(.ProductItem__Label) {
    color: #fff;
  }

  .ProductItem__Vendor {
    font-family: MaisonNeueWEB-Book;

  }

  .swiper-button-next {
    top: 120px !important;
  }

  @media (max-width: 1200px) {
    padding-top: 50px;

    .swiper-button-next {
      top: 55px !important;
    }
  }
}


/*----------  story blocks 3 & 4  ----------*/



.container_block_three {
  display: flex;
  justify-content: center;
  margin-bottom: 50px !important;

  h2 {
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 0.5px;
    font-family: MaisonNeueWEB-Book;
    margin-bottom: 50px;
    color: #fff;
  }

  p {
    font-family: NewCenturySchlbkLTStd_Roman;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.17px;
    color: #fff;

  }

  .left-col {
    min-width: 67.8%;
  }

  .Button {
    padding-right: 15px;

    span {
      font-size: 22px;
      margin-left: 50px;
    }
  }

  .Button--primary {
    background-color: #fff0 !important;
  }

  .Button--primary:hover {
    color: #fff;
    border-color: #fff;
  }

  .Button--primary:hover::before {
    background-color: #fff0;
  }

  .Button--primary::before {
    background: #0000;
  }


  .mobile_visible {
    display: none;
  }


  @media (max-width: 1300px) {

    flex-wrap: wrap;

    .Button {
      display: none;
    }

    .mobile_visible {
      display: inline-block;
    }

    .story-heading {
      transform: translateX(0);
    }

    .left-col {
      min-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .right-col {
      text-align: center;
      padding: 30px;
    }
  }

}

.story-four {
  position: relative;

  .story-heading {
    position: absolute;
    left: 100px;
    font-style: italic;
    letter-spacing: 0.58px;
    line-height: 16px;
    font-size: 14px;
    width: 70px;
    font-family: NewCenturySchlbkLTStd_It;
  }

  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;

  }

  .rectangle {
    position: absolute;
    width: 50%;
    height: 60%;
    right: 12%;
    z-index: 0;
    top: 50px;

  }

  .content {
    position: relative;
  }

  .col-one {
    flex-basis: 40%;


  }

  .col-content {
    position: relative;

    img:not(.third_image) {
      max-width: 80%;
    }

    .third_image {
      position: absolute;
      bottom: -49px;
      right: 43px;
      width: 180px;
    }
  }

  .col-two .image {
    margin-top: 50px;
    text-align: end;


    img {
      width: 70%;

    }
  }

  .col-one .CollectionItem.Carousel__Cell[data-slide-index] .wrapper-huyaper:not(.image_third .wrapper-huyaper) {
    height: 700px;
    width: 550px;
  }

  .image_third {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: calc(58% + 2vw);

    .wrapper-huyaper {
      width: 200px;
      height: 275px;
    }
  }

  @media (max-width: 1430px) {
    .third_image {
      display: none;
    }
  }

  @media (max-width: 1200px) {
    .rectangle {
      display: none;
    }

    .col-one {
      flex-basis: 100%;
      margin-bottom: 150px;
    }

    .story-heading {
      left: 50%;
      width: unset;
      transform: translateX(-50%);
    }

    .col-content .third_image {
      display: block;
      left: 30px;
      bottom: -49px;
      width: 30%;
    }

    .image {
      position: absolute;
      top: 20%;
      right: 30px;
      width: 61%;
      display: block;
    }

    .circles {
      position: absolute;
      top: -140px;
    }

    .circle {
      width: 50px;
      height: 50px;
    }

    &.story-two {
      padding: 180px 0 50px 0;
    }

    .mobile-dblock {
      background-color: transparent !important;

      &::before {
        background-color: transparent;
      }
    }





  }

  @media (max-width: 800px) {
    .image {
      top: 55vw;

    }
  }










}


/*=====  End of Story block three and four  ======*/
/*=====  End of Story blocks  ======*/




/*=============================================
=            Video section            =
=============================================*/

.custom-video {
  margin: 100px auto;
  max-width: 67vw;


  .SectionHeader__Heading {
    font-family: MaisonNeueWEB-Demi;
    font-size: 12px;
    margin-top: 20px;
  }

  .SectionHeader__SubHeading {
    font-family: MaisonNeueWEB-Book;
    font-size: 12px;
  }


  @media (max-width: 800px) {
    max-width: 85vw;

    .ImageHero--large {
      min-height: 200px;
    }

  }
}


/*=====  End of Video section  ======*/


/*=============================================
=            Product page            =
=============================================*/


.product-custom {

  .ColorSwatch.is-active::after,
  .ColorSwatch__Radio:checked+.ColorSwatch::after {
    border-radius: 50px;
  }

  .ColorSwatch,
  .ColorSwatch:hover::after {
    border-radius: 50px;
  }

  .breadcrumbs__item:not(:last-child):after {
    content: '\2014';
    display: inline-block;
    height: .20em;
    position: relative;
    transform: rotate(0);
    vertical-align: middle;
    border-width: 0;
    height: unset;
    width: unset;
    margin-right: 4px;

  }

  .product_back_button {
    font-family: MaisonNeueWEB-Book;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 2px;

  }

  .ProductMeta__Description {
    margin: 0;
    padding-top: 15px;
    border-top: none;
    font-family: MaisonNeueWEB-Book;
    line-height: 1.33;
    letter-spacing: 0.5px;
  }

  .ProductMeta__PriceList {
    margin-top: 0;
  }

  .ProductMeta__Price.Price--compareAt {
    margin-left: 10px;
  }


  .ProductForm__Label {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.67;
    letter-spacing: 2px;
  }

  .ProductForm__AddToCart {
    justify-content: space-between;
    background: #e9e3e3;
    color: #000;
    font-family: 'MaisonNeueWEB-Demi';
    letter-spacing: 2px;
  }

  .button_arrow {
    font-size: 20px;
    font-family: 'Montserrat';

  }

  .Button--primary {
    color: #fff;

    .button_arrow {
      color: #fff;
    }
  }

  .Product__QuickNav {

    border-top: none;
    border-bottom: none;
  }

  .Product__Wrapper {
    margin-top: -70px;

  }

  .Product__Gallery--stack.Product__Gallery--withThumbnails .Product__SlideshowNav {
    margin-top: 100px;
  }




  .size-guide {
    h2 {
      letter-spacing: 2px;
      font-size: 12px;
    }

    p {
      font-family: MaisonNeueWEB-Book;
      font-size: 12px;
      letter-spacing: 2px;
    }
  }


  .ProductMeta__ShareList {
    display: inherit;
  }

  .ProductMeta__ShareButtons {
    position: absolute;
    bottom: 0;
    left: -150px;

    span {
      font-family: MaisonNeueWEB-Book;
    }
  }

  .Product__QuickNav {
    display: block !important;
  }


  .u-h7 {
    padding-left: 0;
  }

  @media screen and (min-width: 641px) {
    .u-h7 {
      font-size: 12px;
    }
  }




  @media screen and (min-width: 641px) {

    .u-h2 {
      font-size: 14px;
    }

    .u-h4 {
      font-size: 14px;
    }

  }

  @media screen and (min-width: 1500px) {
    .Product__Info {
      margin-right: 80px;
    }

  }



  @media screen and (min-width: 1008px) {
    .Product__InfoWrapper {
      margin-top: 50px;
    }
  }

  @media (max-width: 800px) {
    .Product__Slideshow {
      padding: 0 15px;
      margin-top: 100px;

    }

    .breadcrumbs__item,
    .product_back_button {
      display: none;
    }


    .Product__SlideshowMobileNav {
      margin-top: -30px;
    }

    .Product__SlideshowNavArrow {
      display: none;
    }

    .ProductMeta {
      text-align: left;
    }







  }






}



.template-product {
  .Product__QuickNav {
    .Product__Tabs {
      margin: 10px 0;

    }

    .Collapsible--large .Collapsible__Button {
      padding: 10px 0;
    }
  }


  #shopify-section-recently-viewed-products .Carousel__Cell:first-child {
    margin-left: 5%;
  }

  .SectionHeader__Heading {
    text-align: left;
    font-family: MaisonNeueWEB-Book;
    font-size: 14px;
  }

  .SectionHeader .Container {
    padding: 0px 20px;
  }

  [data-section-id="recently-viewed-products"],
  [data-section-id="product-recommendations"] {
    max-width: 1250px;
    margin: 0 auto;
  }

  [data-section-id="product-recommendations"] {
    .ProductList--carousel .Carousel__Cell {
      width: 33%;
    }
  }

  .ProductItem__Wrapper .Heading {
    text-align: left;
  }

  @media screen and (min-width: 1140px) {
    .ProductList--carousel .Carousel__Cell {
      padding: 5px;
      width: 50%;
    }
  }

  @media screen and (min-width: 1008px) {
    .ProductList--carousel {
      margin: 0 15px;
    }
  }

  .shopify-section--bordered {
    border-top: none;
  }
}

/*=====  End of Product page  ======*/



/*=============================================
=            Category pages            =
=============================================*/

.category-page {
  h2:first-child {
    letter-spacing: 2px;
    padding-left: 15px;
    margin-top: 15px;
  }

  .container {
    max-width: 94vw;
    margin: 0 auto;
  }

  .categories {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    flex-wrap: wrap;


    .category {
      max-width: 33%;
      padding: 20px 5px;

      h2 {
        text-align: center;
        font-size: calc(1vw + 24px);
        transition: transform .8s ease;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        line-height: 20px;
      }

      a {
        display: block;
        overflow: hidden;
        position: relative;

        img {
          opacity: 0.7;
        }

        &:hover h2 {
          transform: translate(-50%, -10px);
        }
      }


    }
  }







  @media screen and (max-width: 1200px) {
    .categories {
      margin-top: 0;

      .category {
        max-width: 50%;

        h2 {
          top: 50%;
          transform: translate(-50%, -10%);
        }
      }
    }
  }












}


.template-collection {
  .CollectionInner__Sidebar {
    top: 0;
    position: absolute;
    right: 0;
    z-index: 2;
    background: #dadad1;
    height: 100vh;
    width: 20vw;
    padding: 150px 50px 50px;
  }
}

/*=====  End of Category pages  ======*/


























/*=============================================
=            Common media query            =
=============================================*/






@media screen and (max-width: 800px) {
  #shopify-section-1610358551e588984e {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  #shopify-section-1610455590bcf9ad0b {
    display: none;

  }
}





@media screen and (min-width: 1140px) {
  .Header:not(.Header--sidebar) .Header__Wrapper {
    padding: 25px 50px;
  }
}


/*=====  End of Media query  ======*/




/*=============================================
=            Section Lookbook 1             =
=============================================*/

.PageContent {
  &.PageContent__Lookbook {
    max-width: unset;
  }
}

.Lookbook-1 {
  .Lookbook__Item {
    margin: 15px 0 20px 0;
  }

  .Lookbook__Item__Text {
    margin-top: 16px;
  }

  p {
    margin: 2px 0 0 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 1.5px;
    text-align: center;

    &.Lookbook__Item__Heading {
      text-shadow: 0px 0px 1px black;
      line-height: 1.5;
      letter-spacing: 1.5px;
    }
  }
}

@media screen and (min-width: 900px) {
  .Lookbook-1 {
    display: grid;
    grid-template-columns: 305px auto 305px;
    grid-template-rows: auto 455px 175px 300px 510px auto;
    column-gap: 20px;

    grid-template-areas:
      "item1 item1 item2"
      "item3 item4 item4"
      "item3 .     item5"
      "item6 item6 item5"
      "item6 item6 item7"
      "item8 item9 item9";

    .Lookbook__Item {
      max-width: 100%;
      width: fit-content;
      width: -moz-fit-content;
      width: -webkit-fit-content;

      &#Lookbook-Item-1 {
        grid-area: item1;
        margin-bottom: 75px;

        .Lookbook__Item__Image {
          max-width: 830px;
        }
      }

      &#Lookbook-Item-2 {
        grid-area: item2;
        margin-bottom: 75px;
        margin-right: -52px;

        .Lookbook__Item__Image {
          max-width: 200px;
        }
      }

      &#Lookbook-Item-3 {
        grid-area: item3;

        .Lookbook__Item__Image {
          max-width: 305px;
        }
      }

      &#Lookbook-Item-4 {
        grid-area: item4;

        .Lookbook__Item__Image {
          max-width: 515px;
        }
      }

      &#Lookbook-Item-5 {
        grid-area: item5;

        .Lookbook__Item__Image {
          max-width: 305px;
        }
      }

      &#Lookbook-Item-6 {
        grid-area: item6;

        .Lookbook__Item__Image {
          max-width: 620px;
        }
      }

      &#Lookbook-Item-7 {
        grid-area: item7;

        .Lookbook__Item__Image {
          max-width: 305px;
        }
      }

      &#Lookbook-Item-8 {
        grid-area: item8;

        .Lookbook__Item__Image {
          max-width: 200px;
        }
      }

      &#Lookbook-Item-9 {
        grid-area: item9;
        margin-left: 130px;

        .Lookbook__Item__Image {
          max-width: 410px;
        }
      }
    }

    .Lookbook__Justify {
      justify-self: end;

      &.Lookbook__Item__Text:not(.Lookbook__LeftPadding) {
        padding-left: 20px;
      }
    }

    .Lookbook__LeftPadding {
      padding-left: 50px;
    }

    .Lookbook__Item__Text {
      width: fit-content;
      width: -moz-fit-content;
      width: -webkit-fit-content;
    }
  }
}

@media screen and (max-width: 899px) {
  .Lookbook-1 {
    display: flex;
    align-items: center;
    flex-direction: column;

    .Lookbook__Item__Text {
      width: 100%;
    }

    .Lookbook__Item__Image {
      text-align: center;
    }
  }
}

/*=====  End of Lookbook 1 section  ======*/



/*=============================================
=            Section Lookbook 2             =
=============================================*/

.Lookbook-2 {
  .Lookbook-2__Item {
    margin: 0 10px 20px 10px;
  }

  .Lookbook-2__Item__Text {
    margin-top: 16px;
  }

  p {
    margin: 2px 0 0 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 1.5px;
    text-align: center;

    &.Lookbook-2__Item__Heading {
      text-shadow: 0px 0px 1px black;
      line-height: 1.5;
      letter-spacing: 1.5px;
    }
  }
}

@media screen and (min-width: 900px) {
  .Lookbook-2>.Lookbook-2-Container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    .Lookbook-2__Item__Image {
      max-width: 360px;
      max-height: 510px;
      overflow: hidden;
    }
  }

  .Lookbook-2>.Lookbook-2-Container:not(:first-child) {
    margin-top: 80px;
  }

}

@media screen and (max-width: 899px) {
  .Lookbook-2>.Lookbook-2-Container {
    display: flex;
    align-items: center;
    flex-direction: column;

    .Lookbook-2__Item__Text {
      width: 100%;
    }

    .Lookbook-2__Item__Image {
      text-align: center;
    }
  }
}

/*=====  End of Lookbook 2 section  ======*/


/*=============================================
=            homepage sliders            =
=============================================*/
.template-index {
  .swiper-slide {
    opacity: 0 !important;
    transition: opacity .5s ease;
    pointer-events: none;



  }

  .swiper-slide-active {
    pointer-events: all;
    opacity: 1 !important;
  }

  .swiper-button-next {
    right: 0;
    top: 30px;
    background: none;
    color: #0b0000;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-right: none;

    &:hover {
      border-style: inset;
    }
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next:after {
    content: '→';
    font-size: 30px;
  }
}

/*=====  End of homepage sliders  ======*/



/*=============================================
=            Section Journal Post             =
=============================================*/

.Article {
  .Article__Inner_Content {
    .Article__Title {
      margin-bottom: 0;
      font-size: 24px;
    }
    
    .Article__Author {
      font-style: italic;
      margin-bottom: 20px;
      font-size: 24px;
    }
    
    h5 {
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 11px;
    }
  }
  
  .ArticleBrowseItem__Heading {
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .ArticleBrowseItem__Short-Content {
    font-style: italic;
    margin-bottom: 20px;
  }
  
  &.Journal {
    font-size: 12px;
  }
}
@media screen and (min-width: 900px) {
  .Article {
    .Container {
      .Article__Content {
        .Article__Inner_Content {
          margin-bottom: 90px;
          
          .Article__Main_Content {
            display: flex;
            margin-top: -85px;
          }
          
          .Article__Text_Content {
            width: 50%;
            position: relative;
            
            .Article__Article_Content {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          
          .Article__Featured_Image {
            text-align: center;
            width: 50%;
          }
        }
      }
    }
    
    &.Journal {
      .ArticleToolbar {
        display: none;
      }
    }
    
    .Recommendation__Container {
      .Recommendations__Section_1 {
        display: flex;
        margin-bottom: 100px;
      }
      
      .Recommendations__Section_2 {
        display: flex;
        
        .ArticleBrowseItem {
          margin-right: 120px;
        }
        
        .ArticleQuote {
          max-width: 510px;
          font-size: 24px;
          
          .QuoteText {
            font-style: italic;
          }
          
          p {
            margin-bottom: 5px;
          }
        }
      }
      
      .Recommendations__Section_3 {
        display: flex;
        justify-content: right;
        margin-bottom: 50px;
        margin-top: -100px;
      }
    }

    .ArticleBrowseItem:not(:first-child) {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 899px) {
  .Article {
    .Container {
      .Article__Content {
        margin: 0 10px;
        
        .Article__Inner_Content {
          margin-bottom: 45px;
          
          .Article__Main_Content {
            display: flex;
            flex-direction: column-reverse;
            
            .Article__Featured_Image {
              margin-bottom: 36px;
              text-align: center;
            }
          }
        }
      }
    }
    
    .Recommendation__Container {
      margin: 0 10px;
      
      .Recommendations__Section_2 {
        margin-bottom: 55px;
        
        .ArticleQuote {
          font-size: 24px;
          
          .QuoteText {
            font-style: italic;
          }
          
          p {
            margin-bottom: 5px;
          }
        }
      }
      
      .Recommendations__Section_3 {
        margin-bottom: 30px;
      }
    }
    
    &.Journal {
      .ArticleToolbar {
        display: none;
      }
    }
  }
  
  .Recommendations__Section_1 {
    margin: 0 auto 55px auto;
    
    .ArticleBrowseItem {
      display: flex !important;
      justify-content: center;
      margin: 0 5%;
      min-width: 300px;
    }
  }
}

.ArticleBrowseItem {
  max-width: 100%;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}

.Recommendations__Section_1 {
  .ArticleBrowseItem__Text {
    max-width: 300px;
  }
}

.Recommendations__Section_2 {
  .ArticleBrowseItem__Text {
    max-width: 200px;
  }
}

.Recommendations__Section_3 {
  .ArticleBrowseItem__Text {
    max-width: 620px;
  }
}

.ArticleBrowseItem__Short-Content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.slick-track {
  width: fit-content !important;
}

.slick-slider {
  display: table;
  table-layout: fixed;
  width: 100%;
}

/*=====  End of Journal Post section  ======*/